#header {
    height: 15vh;
}

#body {
    height: 70vh;
}

#footer {
    height: 15vh;
}

#header > ul > li {
    list-style-type: none;
    display: inline-block;
}

#footer > ul > li {
    list-style-type: none;
}

