<div class="center">
    <h3>General Course Faqs</h3>
    <p>Below you will find general information about the Root class</p>
    <ul class="clean-list">
        <!--<li data-ng-repeat="faq in fs.faqList">
            <h1>{{ fs }}</h1>
            <h3>{{faq.question}}</h3>
            <p>{{faq.answer}}</p>
        </li>-->
        <li>
            <h3>When are assignments due?</h3>
            <p>All Prototypes & Skill Assessments are due at 10pm. Prototypes and Skill Assessments are due 1 day after they are assigned in the portal. Projects are due 2 days later at the same time.</p>
        </li>
        <li>
            <h3>When are instructors available to answer questions?</h3>
            <p>Travis is available Monday through Thursday nights from 7 - 9 pm. Dan, Scott, and Tim are available during business hours via slack (Current Full Immersion students take priority)</p>
        </li>
        <li>
            <h3>When can I expect feedback on my assignment?</h3>
            <p>Feedback will usually be given within 72 hours of submission</p>
        </li>
    </ul>
</div>